In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error
from sklearn.metrics import f1_score
from sklearn import preprocessing

In [34]:
#read file
df = pd.read_csv("tested.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [35]:
#find the number of null values 
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [38]:
#drop cabin column 
df = df.drop('Cabin', axis=1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,C

In [39]:
#check for number of null values again
df.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Embarked        0
dtype: int64

In [84]:
#now drop the empty rows as I do not know how to fill those in
df = df.dropna()

In [85]:
#check the number of duplicated values 
df.duplicated().sum()

0

In [86]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,new_sex
count,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,1100.232628,0.383686,2.141994,30.181269,0.483384,0.398792,40.982087,1.438066,0.616314
std,122.910180,0.487019,0.846251,14.104573,0.875004,0.811582,61.228558,0.862485,0.487019
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,992.500000,0.000000,1.000000,21.000000,0.000000,0.000000,8.050000,1.000000,0.000000
50%,1100.000000,0.000000,2.000000,27.000000,0.000000,0.000000,16.000000,2.000000,1.000000
75%,1210.500000,1.000000,3.000000,39.000000,1.000000,1.000000,40.633350,2.000000,1.000000
max,1307.000000,1.000000,3.000000,76.000000,8.000000,6.000000,512.329200,2.000000,1.000000

In [87]:
#count number of survivors and unsurvivors
df['Survived'].value_counts()

0    204
1    127
Name: Survived, dtype: int64

In [88]:
#check unique values in the column "embarked"
df['Embarked'].unique()

array([1, 2, 0], dtype=int64)

In [89]:
#initialise label encoder 
le = preprocessing.LabelEncoder()
df['Embarked'] = le.fit_transform(df['Embarked'])
df['Embarked'].unique()

C:\Users\USER\AppData\Local\Temp\ipykernel_5724\2873804316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Embarked'] = le.fit_transform(df['Embarked'])

array([1, 2, 0], dtype=int64)

In [90]:
#convert sex and embarked column to a category 
df['Sex'] = df['Sex'].astype('category')

C:\Users\USER\AppData\Local\Temp\ipykernel_5724\3044865356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sex'] = df['Sex'].astype('category')

In [91]:
#assign numerical values and store in another column
df['new_sex'] = df['Sex'].cat.codes

C:\Users\USER\AppData\Local\Temp\ipykernel_5724\586503568.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new_sex'] = df['Sex'].cat.codes

In [92]:
#one hot encoder function definition
enc = OneHotEncoder(drop='first')

In [67]:
#transform the encoded column into a da
taframe 
enc_data = pd.DataFrame(enc.fit_transform(df[['new_sex']]).toarray())

In [93]:
#merge encoded data 
new_df = df.join(enc_data)
new_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,new_sex,0
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,1,1,1.0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,2,0,0.0
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,1,1,1.0
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,2,1,1.0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,2,0,0.0
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,1,0,0.0
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,2,0,0.0
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,0,0,0.0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,2,1,1.0

In [106]:
#select features from new_df
X = new_df[['Pclass', 'Age', 'SibSp', 'Fare', 'new_sex']]
y = new_df['Survived']

In [107]:
#split data 70:30
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, shuffle=True, test_size=0.3)

# Decision Tree Model

In [108]:
#import decision tree classifier 
from sklearn import tree 

#instantiate the model and store in a function
dt_model = tree.DecisionTreeClassifier()

dt_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [109]:
#make predictions 
dt_predict = dt_model.predict(X_test)

In [110]:
#Evaluate the model 
#R^2 score - value closer to 1 indicates model is close to perfection 

print('--------------------------------')
print('Descision Tree Test Accuracy:', dt_model.score(X_test, y_test))
print(pd.DataFrame({'Actual': y_test, 'Predicted': dt_predict}))
print('Root Mean Squared Error:', mean_squared_error(y_test, dt_predict)**(0.5))
print('---------------------------------')

--------------------------------
Descision Tree Test Accuracy: 1.0
     Actual  Predicted
27        0          0
389       0          0
89        0          0
280       1          1
68        0          0
..      ...        ...
16        0          0
6         1          1
363       0          0
115       0          0
34        0          0

[100 rows x 2 columns]
Root Mean Squared Error: 0.0
---------------------------------

# Random Forest

In [101]:
#instantiate the model and store in a function
rf_model = RandomForestClassifier()

rf_model.fit(X_train, y_train)

RandomForestClassifier()

In [104]:
rf_predict = rf_model.predict(X_test)

In [105]:
#Evaluate the model 
#R^2 score - value closer to 1 indicates model is close to perfection 

print('--------------------------------')
print('Random Forest Test Accuracy:', rf_model.score(X_test, y_test))
print(pd.DataFrame({'Actual': y_test, 'Predicted': rf_predict}))
print('Root Mean Squared Error:', mean_squared_error(y_test, rf_predict)**(0.5))
print('---------------------------------')

--------------------------------
Random Forest Test Accuracy: 1.0
     Actual  Predicted
27        0          0
389       0          0
89        0          0
280       1          1
68        0          0
..      ...        ...
16        0          0
6         1          1
363       0          0
115       0          0
34        0          0

[100 rows x 2 columns]
Root Mean Squared Error: 0.0
---------------------------------

# Naive Bayes

In [112]:
#import naive bayes model 
from sklearn.naive_bayes import GaussianNB

#instantiate the model and store in a function
nb_model = GaussianNB()

In [113]:
#fit model 
nb_model.fit(X_train, y_train)

GaussianNB()

In [118]:
#make prediction
nb_predict = nb_model.predict(X_test)

In [115]:
#Evaluate the model 
#R^2 score - value closer to 1 indicates model is close to perfection 

print('--------------------------------')
print('Random Forest Test Accuracy:', nb_model.score(X_test, y_test))
print(pd.DataFrame({'Actual': y_test, 'Predicted': nb_predict}))
print('Root Mean Squared Error:', mean_squared_error(y_test, nb_predict)**(0.5))
print('---------------------------------')

--------------------------------
Random Forest Test Accuracy: 1.0
     Actual  Predicted
27        0          0
389       0          0
89        0          0
280       1          1
68        0          0
..      ...        ...
16        0          0
6         1          1
363       0          0
115       0          0
34        0          0

[100 rows x 2 columns]
Root Mean Squared Error: 0.0
---------------------------------

# KNN

In [116]:
#import model 
from sklearn.neighbors import KNeighborsClassifier 

#instantiate 
knn = KNeighborsClassifier()

In [117]:
#fit model 
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [119]:
#make prediction 
knn_predict = knn.predict(X_test)

In [120]:
#Evaluate the model 
#R^2 score - value closer to 1 indicates model is close to perfection 

print('--------------------------------')
print('Random Forest Test Accuracy:', knn.score(X_test, y_test))
print(pd.DataFrame({'Actual': y_test, 'Predicted': knn_predict}))
print('Root Mean Squared Error:', mean_squared_error(y_test, knn_predict)**(0.5))
print('---------------------------------')

--------------------------------
Random Forest Test Accuracy: 0.64
     Actual  Predicted
27        0          0
389       0          1
89        0          0
280       1          1
68        0          0
..      ...        ...
16        0          0
6         1          0
363       0          0
115       0          1
34        0          1

[100 rows x 2 columns]
Root Mean Squared Error: 0.6
---------------------------------

# SVM

In [121]:
#import model 
from sklearn import svm

#instantiate model
sm = svm.LinearSVC()

In [122]:
#fit model 
sm.fit(X_train, y_train)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [124]:
#predict values 
sm_predict = sm.predict(X_test)

In [125]:
#Evaluate the model 
#R^2 score - value closer to 1 indicates model is close to perfection 

print('--------------------------------')
print('Random Forest Test Accuracy:', sm.score(X_test, y_test))
print(pd.DataFrame({'Actual': y_test, 'Predicted': sm_predict}))
print('Root Mean Squared Error:', mean_squared_error(y_test, sm_predict)**(0.5))
print('---------------------------------')

--------------------------------
Random Forest Test Accuracy: 1.0
     Actual  Predicted
27        0          0
389       0          0
89        0          0
280       1          1
68        0          0
..      ...        ...
16        0          0
6         1          1
363       0          0
115       0          0
34        0          0

[100 rows x 2 columns]
Root Mean Squared Error: 0.0
---------------------------------